.App { 
  text-align: center;
}

#TOP { 
  color: white; 
  text-align: center;
}

#headDiv { 
  background-color: darkblue;
  height: 40px; 

}

#form { 
  text-align: center;
}

#resultDiv { 
  text-align: center;
}



